@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { -webkit-tap-highlight-color: transparent; }
  input, select, textarea { font-size: 16px !important; } /* Prevent iOS zoom */
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom);
}
